<div >
    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="John Smith" [(ngModel)]="info.name">
    </div>
    <div class="form-group">
        <label for="txtNumber">Number</label>
        <input type="text" class="form-control" id="txtNumber" placeholder="1,234.56"  [(ngModel)]="info.number" (keyup)="onNumberChange($event.target.value)">
        <span *ngIf="numberValidation" class="alert-warning" role="alert">{{numberValidation}}</span>
    </div>
    <div class="form-group">
        <label for="txtCulture">Culture</label>
        <select class="form-control" id="culture"
                [(ngModel)]="selectedCulture" name="culture">
            <option *ngFor="let culture of data.cultures" [ngValue]="culture">{{culture}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 "><button type="button" class="btn btn-primary center-block" (click)="convert()"><span class="glyphicon glyphicon-ok"></span> CONVERT</button></div>
    <div class="col-sm-4"><div *ngIf="message" class="alert alert-warning" role="alert">{{message}}</div></div>
</div>

